@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:wght@300;400;500;700&family=Rubik:wght@300;400;500&display=swap');

/* Slider */

body {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 16px;
    position: relative;
    line-height: 1.7em;
    color: var(--text-color);
}

.slider{
    width: 1300px;
    max-width: 100vw;
    height: 600px;
    margin: auto;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
}
.slider .list{
    position: absolute;
    width: max-content;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    transition: 1s;
}
.slider .list img{
    width: 1300px;
    max-width: 100vw;
    height: 100%;
    object-fit: cover;
}
.slider .buttons{
    position: absolute;
    top: 45%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.slider .buttons button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff5;
    color: #fff;
    border: none;
    font-family: monospace;
    font-weight: bold;
}
.slider .dots{
    position: absolute;
    bottom: 10px;
    left: 0;
    color: #fff;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.slider .dots li{
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: #fff;
    margin: 10px;
    border-radius: 20px;
    transition: 0.5s;
}
.slider .dots li.active{
    width: 30px;
}
@media screen and (max-width: 768px){
    .slider{
        height: 400px;
    }
}

/* Contenedor de texto con flexbox */
.text-overlay {
    position: absolute; /* Cambiado a absolute */
    top: 50%; /* Centra verticalmente */
    left: 50%; /* Centra horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta para que el centro del contenedor esté en el centro del padre */
    width: 80%; /* Puedes ajustar el ancho como desees */
    max-width: 600px; /* O un máximo de ancho específico */
    height: auto; /* Cambia a auto para que se ajuste al contenido */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrado vertical */
    align-items: center; /* Centrado horizontal */
    color: rgba(255, 255, 255, 0.825);
    z-index: 10;
    background: rgba(49, 59, 76, 0.5); /* Filtro oscuro */
    backdrop-filter: blur(10px);
    padding: 10px 20px;
    border-radius: 20px;
}

.text-overlay .content {
    text-align: end;
    padding: 40px 20px;
}

.text-overlay h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: white;
}

.text-overlay p {
    text-align: end;
    font-size: 14px;
    margin-bottom: 1.5rem;
}

.cta-btn {
    padding: 10px 20px;
    background: linear-gradient(to left, #a7b8d4, #859fae );
    color: white;
    border: none;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
    border-radius: 2rem;
}

.cta-btn:hover {
    background-color: linear-gradient(to left, #859fae, #a7b8d4 );
}

@media screen and (max-width: 768px) {
    .text-overlay {
        display: none;
        width: 300px; /* Ancho más amplio para pantallas pequeñas */
        padding: 5px; /* Padding reducido */
    }

    .text-overlay h2 {
        font-size: 1.8rem; /* Tamaño de fuente reducido */
        display: none;
    }

    .text-overlay p {
        font-size: 1rem; /* Tamaño de fuente reducido */
        display: none;
    }

    .cta-btn {
        padding: 8px 16px; /* Ajuste de padding en el botón */
        font-size: 0.9rem; /* Tamaño de fuente del botón */
    }
}

/* botones */

.btn-vermas {
    background-color: #a7b8d4 ;
    border-radius: 2rem;
    align-items: center;
    justify-content: center;
    padding: 4px;
    text-align: center;
    color: white;
    font-size: 10px;
    width: 100px;
    
}


.btn-cotiza {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to left, #a7b8d4, #859fae );
    border-radius: 2rem;
    align-items: center;
    justify-content: end;
    padding: 4px 40px; 
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.5px;
    margin: 20px 0px 20px 0px;
    color: white ;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80px ;
    box-shadow: 0 15px 40px rgba(31, 39, 60, 0.1);
    cursor: pointer;
}

.btn-cotiza div{
        background-color: #14223a;
        border-radius: 2rem;
        align-items: center;
        justify-content: center;
        padding: 6px 6px;
        text-align: center;
        color: white;
        font-size: 12px;
        width: 150px;
        cursor: pointer;
}

/*----------------- Fancy Feature Twenty Seven -------------------*/
.block-style-twentySeven {
    border: none;
    border-radius: 20px;
    padding: 55px 12px 40px;
    text-align: center;
    margin-top: 35px;
    transition: all 0.3s ease-in-out;
    height: 300px;
    margin: 50px 0px;
    box-shadow: 0 15px 40px rgba(31, 39, 60, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }
  .block-style-twentySeven:hover {
    border-color: #fff;
    background: #fff;
    box-shadow: 0 15px 40px rgba(21, 21, 21, 0.09);
  }
  .block-style-twentySeven .icon {
    width: 60px; /* Asigna un tamaño explícito */
    height: 60px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .block-style-twentySeven .icon img {max-height: 100%;  max-width: 100%; display: block; z-index: 10;}
  .block-style-twentySeven h4 {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.5px;
    margin: 20px 0;
    color: #14223a ;
  }
  .block-style-twentySeven p {font-size: 17px; line-height: 28px;}
  /*----------------- Video Box Two -------------------*/
  .video-box-two .video-icon {
    width: 170px;
    height: 110px;
    background: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: all 0.3s ease-in-out;
    transform: translate(-50% , -50%);
  }
  .video-box-two .video-icon img {margin-left: -9px;}
  .video-box-two .video-icon:hover {background: #FFB840;}

  .section-proyecto{
    grid-row: ;
  }
  .container-proyecto{
    width: auto;
    height: 300px;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    justify-content: flex-start;
    border-radius: 20px;
    margin: 10px 5px 10px 5px;
    padding: 10px 20px;
}

.tag-proyecto {
    background-color: #a7b8d4;
    color: white;
    height: 20px;
    width: 20%;
    font-size: small;
    padding: 20px 10px 20px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
}

.description-proyecto {
    background-color: #14223a7f;
    color: white;
    font-size: x-small;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    border-radius: 10px;
    margin: 10px 0px;
    padding: 10px;
    width: 100%;
    text-align: left; /* Alineación del texto a la izquierda */
    line-height: 1.5; /* Espaciado entre líneas */
    max-height: 150px; /* Altura máxima del contenedor */
    overflow-y: auto;


}

        /* Estilos para el footer */
        footer {
            background: linear-gradient(to left, #a7b8d4, #859fae);
            color: white;
            padding: 20px;
            text-align: center;
            margin-top: 50px;
        }

        /* Estilos para la descripción de la empresa */
        .footer-description {
            margin-bottom: 20px;
            font-size: 14px;
        }

        /* Estilos para el menú de navegación */
        .footer-nav {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        .footer-nav li {
            display: inline;
            margin-right: 15px;
        }

        .footer-nav li a {
            color: white;
            text-decoration: none;
        }

        .footer-nav li a:hover {
            text-decoration: underline;
        }

        /* Segunda fila del footer */
        .footer-bottom {
            margin-top: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .footer-bottom .scroll-up-btn {
            background-color: white;
            color: #a7b8d4;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
        }

        .footer-bottom .scroll-up-btn:hover {
            background-color: #0056b3;
        }

        /* Estilos para las redes sociales */
        .social-media {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content:flex-start;
        }

        .social-media a {
            margin: 5px;
            color: white;
            text-decoration: none;
            font-size: 24px;
        }

        /* Ajustes para pantallas pequeñas */
        @media (max-width: 768px) {
            .footer-bottom {
                flex-direction: column;
            }

            .footer-bottom .scroll-up-btn {
                margin-bottom: 20px;
            }
        }
